In [5]:
import sqlite3 as sql
con=sql.connect('db.db')
sql='SELECT * FROM BOOKS WHERE price >=? '
data =[20]
rows= con.execute(sql,data).fetchall()
con.close()
print(rows)

[]

In [6]:
import sqlite3 as sql
con=sql.connect('db.db')
sql='INSERT INTO  BOOKS(book_name,price,rate) VALUES (?,?,?) '
data =[20]
rows= con.execute(sql,data).fetchall()
con.close()
print(rows)

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 3, and there are 1 supplied.

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="mahmoud2001",
  database="books"

)
x='john'
mycursor = mydb.cursor(buffered=True)

sql = "INSERT INTO book (book_name,rate) VALUES (%s,%s)"
# val = ("bbb",'ss')

val = (x, "21")
mycursor.execute(sql, val)
# mycursor.execute(sql,(val,))

mydb.commit()
mycursor.close()

True